{{> doc-start title='Templates | Tent CSS'}}
{{> masthead}}

    <div class="title-set">
        <h1 class="title">HTML Templates</h1>
        <p class="lead">Helpers to kick off your project quickly.</p>
    </div>

    <hr>

    <div class="grid">
        <div class="grid__column grid__column--4">
            <div class="card">
                <div class="card__content">
                    <h3 class="card__title">Marketing</h3>
                </div>
            </div>
        </div>
        <div class="grid__column grid__column--4">

        </div>
        <div class="grid__column grid__column--4">

        </div>
    </div>

{{> mastfoot}}
{{> doc-end}}